.main {
    text-align: center;
    width: 23.4375rem;
    margin: auto;
    padding: 0 1.75rem;
    padding-top: 5.3125rem;


    &_header {

        .logo {
            width: 3.5rem;
            margin-bottom: 2.75rem;
        }

        h1 {
            font-weight: 300;
            font-size: 1.1em;
            color: $Gray;
            margin-bottom: 1.1rem;

            span {
                color: $VeryDarkBlue;
                font-weight: bold;
            }
        }

        h4 {
            font-size: 0.6em;
            color: $VeryDarkBlue;
            font-weight: lighter;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                height: 2.5rem;
                width: 17.5rem;
                font-weight: lighter;
                border-radius: 2rem;
                border: $PaleBlue 1px solid;
                font-size: 0.6em;
                padding-left: 2rem;
                margin-top: 2rem;
                
                
                &::placeholder {
                    color: $PaleBlue;
                }

                &:focus {
                    border-radius: 2rem;
                }
            }

            small {
                color: $SoftRed;
                margin-top: 0.5rem;
                font-size: 0.5em;
                font-style: italic;
                display: none;
            }

            button {
                background: $Blue;
                color: hsl(0, 0%, 100%);
                font-size: 0.6em;
                font-weight: 600;
                border: none;
                padding: 0.9375rem 7.0625rem;
                border-radius: 2rem;
                cursor: pointer;
                margin-bottom: 4.5rem;
                margin-top: 0.625rem;
                box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.314);

                &:hover {
                    background: hsl(223, 87%, 70%);

                }
            }
        }
    }

    &_image {
        img {
            width: 100%;
            margin-bottom: 7.5rem;
        }
    }


    &_socials {

        h4 {
            font-size: 0.5em;
            color: $Gray;
            font-weight: 300;
        }

        .socials_container {
            color: $Blue;
            margin-bottom: 1.875rem;

            ion-icon {
                padding: 0.625rem;
                border: 0.92px solid hsla(223, 87%, 63%, 0.314);
                border-radius: 2rem;

                &:hover {
                 color: hsl(0, 0%, 100%);  
                 background: $Blue;
                }
            }
        }
    }
}

@media screen and (min-width: 40rem) {
    .main {
        width: 40rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3.125rem;
        height: 100%;

        &_header { 

            .logo {
                width: 5.5625rem;
                height: 1.5625rem;
            }

            h1 {
                font-size: 2.4em;
            }

            h4 {
                font-size: 1em;
            }

            form {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                margin-top: 2.5rem;
                margin-bottom: 5.875rem;
                

                input {
                    margin: 0;
                    width: 26.3125rem;
                    height: 3.5rem;
                    font-size: 0.8em;
                    margin-right: 1rem;
                }

                small {
                    text-align: left;
                    padding-left: 2rem;
                }

                button {
                    margin: 0;
                    padding: 1.18rem 3.875rem;
                    font-size: 0.8em;
                }
            }  
        }

        &_image {

            img {
                margin-bottom: 4.375rem;
            }

        }

        &_socials {

            h4 {
                font-size: 0.6em;
            }
            
            .socials_container {
                margin-bottom: 1.5625rem;

                a:not(:last-child) {
                    margin-right: 0.4rem
                }
            }
        }
    }
}


.error {
    input {
        border: $LightRed 1px solid !important;
    }

    small {
        display: block !important;
    }
}