html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-color: #4f7df3;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.main {
  text-align: center;
  width: 23.4375rem;
  margin: auto;
  padding: 0 1.75rem;
  padding-top: 5.3125rem;
}

.main_header .logo {
  display: inline-block;
  margin-bottom: 2.75rem;
}

.main_header .logo img {
  width: 3.5rem;
}

.main_header h1 {
  font-weight: 300;
  font-size: 1.1em;
  color: #969696;
  margin-bottom: 1.1rem;
}

.main_header h1 span {
  color: #151f29;
  font-weight: bold;
}

.main_header h4 {
  font-size: 0.6em;
  color: #151f29;
  font-weight: lighter;
}

.main_header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header form input {
  height: 2.5rem;
  width: 17.5rem;
  font-weight: lighter;
  border-radius: 2rem;
  border: #c2d3ff 1px solid;
  font-size: 0.6em;
  padding-left: 2rem;
  margin-top: 2rem;
}

.main_header form input::-webkit-input-placeholder {
  color: #c2d3ff;
}

.main_header form input:-ms-input-placeholder {
  color: #c2d3ff;
}

.main_header form input::-ms-input-placeholder {
  color: #c2d3ff;
}

.main_header form input::placeholder {
  color: #c2d3ff;
}

.main_header form input:focus {
  border-radius: 2rem;
}

.main_header form small {
  color: #f96262;
  margin-top: 0.5rem;
  font-size: 0.5em;
  font-style: italic;
  display: none;
}

.main_header form button {
  background: #4f7df3;
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  border: none;
  padding: 0.9375rem 7.0625rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 4.5rem;
  margin-top: 0.625rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.314);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.314);
}

.main_header form button:hover {
  background: #7096f5;
}

.main_image img {
  width: 100%;
  margin-bottom: 7.5rem;
}

.main_socials h4 {
  font-size: 0.5em;
  color: #969696;
  font-weight: 300;
}

.main_socials .socials_container {
  color: #4f7df3;
  margin-bottom: 1.875rem;
}

.main_socials .socials_container a:not(:last-child) {
  margin-right: 0.4rem;
}

.main_socials .socials_container ion-icon {
  padding: 0.625rem;
  border: 0.92px solid rgba(79, 125, 243, 0.314);
  border-radius: 2rem;
}

.main_socials .socials_container ion-icon:hover {
  color: white;
  background: #4f7df3;
}

@media screen and (min-width: 40rem) {
  .main {
    width: 40rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.125rem;
    height: 100%;
  }
  .main_header .logo img {
    width: 5.4375rem;
    height: 1.5625rem;
  }
  .main_header h1 {
    font-size: 2.4em;
  }
  .main_header h4 {
    font-size: 1em;
  }
  .main_header form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 2.5rem;
    margin-bottom: 5.875rem;
  }
  .main_header form input {
    margin: 0;
    width: 26.3125rem;
    height: 3.5rem;
    font-size: 0.8em;
    margin-right: 1rem;
  }
  .main_header form small {
    text-align: left;
    padding-left: 2rem;
    font-size: 0.6em;
  }
  .main_header form button {
    margin: 0;
    padding: 1.18rem 3.875rem;
    font-size: 0.8em;
  }
  .main_image img {
    margin-bottom: 4.375rem;
  }
  .main_socials h4 {
    font-size: 0.6em;
  }
  .main_socials .socials_container {
    margin-bottom: 1.5625rem;
  }
}

.error input {
  border: #ff5263 1px solid !important;
}

.error small {
  display: block !important;
}
/*# sourceMappingURL=style.css.map */